#container{
height: 100vh;
    /*background-color: lightgray;*/
}
#log_lin_switch{
    display: inline-block;
}

#accumulated_new_switch{
    display: inline-block;
}

#container_left{
width: 50% ;
    height: 100%;
float: left;
}

#container_right{
width: 50%;
height: 100%;
float: right
}

#map{
 height: 80%;

}

#Timeline{
 height: 80%;

}

#header{
    text-align: center;
    font-family: "Arial";
}

#header2{
    text-align: center;
        font-family: "Arial";

}